<%= link_to('Home','/')%>
<%= link_to('Assets','/assets') %>
<%= link_to('Numbers','/numbers') %>
<%= link_to('Text','/text') %>


<h3>Links can also be clarified using URL_path</h3>
<a href="/text2"> </a>

<%= link_to('URL',url_path)%>
<%= link_to('Text',text_path)%>